[submodule "bundle/vim-powershell"]
	path = bundle/vim-powershell
	url = https://github.com/PProvost/vim-ps1.git
[submodule "bundle/slimv"]
	path = bundle/slimv
	url = https://github.com/vim-scripts/slimv.vim.git
